.App {
  width: 100vw;
  display: flex;
}

/*File component*/ 

#filePane {
  width: 20vw;
}

.filecontainer {
  display: flexbox;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: centers;
}

.filelist {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 80vh;
  overflow-y: scroll;
}

.fileheader {
  background-color: white;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #586F7C;
  padding: 0 17.5px 0px 17.5px;
  font-weight: bold;
  height: 6vh;
  border-bottom: solid #586F7C 1px;
}

.deleteallbutton {
  margin-left: auto;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family:  "Ubuntu";
  font-size: 15px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.deleteallbutton:hover {
  background-color: #f7fafa;
}

.deleteallbutton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/*Chat Component*/

#chatPane {
  margin-left: auto;
}

.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #3d4e8d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.react-chatbot-kit-user-chat-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
  height: fit-content;
  max-width: 70vw;
  text-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  fill: #494646;
  width: 22.5px;
  height: 22.5px;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #B8DBD9;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: black;
  font-weight: medium;
  position: relative;
  width: fit-content;
  max-width: 60vw;
  text-align: left;
  margin: 0px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #B8DBD9;
  position: absolute;
  left: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 80vw;
}

.react-chatbot-kit-chat-inner-container {
  height: 100vh;
  background-color: #fff;
  border-radius: 3px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-header {
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: #586F7C;
  color: white;
  padding: 0px 17.5px 0px 17.5px;
  font-weight: bold;
  height: 6vh;
  border-bottom: solid white 1px;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-message-container {
  padding: 0px 17.5px 30vh 17.5px;
  overflow-y: scroll;
  height: 64vh;
  background-color: #586F7C;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  resize: vertical;
  max-height: 20vh;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-radius: 20px;
}

.react-chatbot-kit-chat-input-form {
  padding: 5vh;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #586F7C;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}

.react-chatbot-kit-error {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.react-chatbot-kit-error-docs {
  display: block;
  margin: 25px auto;
  color: rgb(56, 104, 139);
  padding: 8px;
  border: 1px solid rgb(40, 152, 236);
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

/* Upload Components */
.uploadcomponent {
  position: absolute;
  bottom: 0;
  width: 20vw;
  padding-bottom: 2.5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  
}

.pathbox {
  border-style: solid;
  border-radius: 1vh;
  border-color: #B8DBD9;
  background: #B8DBD9;
  color: black;
  height: fit-content;
  width: 14vw;

  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.sendpathbutton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 28px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 15vw;
}

.sendpathbutton:hover {
  background-color: #f7fafa;
}

.sendpathbutton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/*File Button components*/
.filebutton {
  height: fit-content;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  font-size: 0.9vw;
  border-bottom: 1px solid;
}

.deletebutton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family:  "Ubuntu";
  font-size: 15px;
  height: fill;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.deletebutton:hover {
  background-color: #f7fafa;
}

.deletebutton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.namebox {
  padding-bottom: 3px;
}

.buttonholder {
  position: relative;
  padding-top: 10px;
}